@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --main-font: "Lato", sans-serif;
  --heading-font: "Roboto Slab", serif;

  --radius: 0.625rem;

  --snow-white: #FFF;
  --midnight-black: #0B0B0B;
  --iridiscent-blue: #2f5D9E;
  --iridiscent-blue-light: #6394d9ff;
  --emerald-green: #267C6F;
  --emerald-green-light: #40B3A2;
  --steel-gray: #7A7D7F;
  --silver-gleam: #C4C9CC;
  --subtle-grey: oklch(0.97 0 0);

  --background: var(--snow-white);
  --foreground: oklch(0.145 0 0);
  --card: var(--snow-white);
  --card-foreground: oklch(0.145 0 0);
  --popover: var(--snow-white);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #2a2a2a;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: var(--iridiscent-blue);
  --secondary-foreground: oklch(0.205 0 0);
  --highlight2: var(--emerald-green-light);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: var(--iridiscent-blue)
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --main-font: var(--main-font);
  --heading-font: var(--heading-font);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-highlight2: var(--highlight2);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--color-background);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Global styles */
@layer base {
  * {
    border: var(--border);
    outline: 50% solid var(--ring);
  }
  body {
    background-color: var(--background);
    color: var(--midnight-black);
    font-family: var(--main-font);
  }
  button {
    cursor: pointer;
  }
  h1,
  h2,
  h3,
  nav {
    font-family: var(--heading-font);
  }
  aside > nav {
    font-family: var(--main-font);
  }
  h2 {
    text-align: center;
    font-size: var(--text-lg);
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 0.5rem;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  li {
    list-style-type: none;
  }
  input {
    background-color: var(--background);
  }
  label {
    margin-bottom: 0.25rem;
  }
}

.infoBtn {
  background-color: var(--background);
  color: var(--secondary);
  border-radius: 1rem;
  border: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
  font-size: var(--text-sm);
  cursor: pointer;
  padding: 0.2rem 0.7rem;
  font-size: smaller;
}
.infoBtn:hover {
  background-color: var(--secondary);
  color: white;
}

.deleteBtn {
  background-color: var(--background);
  color: var(--color-red-500);
  border-radius: 1rem;
  border: 1px solid var(--color-red-500);
  padding: 0.5rem 1rem;
  font-size: var(--text-sm);
  cursor: pointer;
  padding: 0.2rem 0.7rem;
  font-size: smaller;
}
.deleteBtn:hover {
  background-color: var(--color-red-600);
  color: white;
}

.editBtn {
  background-color: var(--background);
  color: var(--highlight2);
  border-radius: 1rem;
  border: 1px solid var(--highlight2);
  padding: 0.5rem 1rem;
  font-size: var(--text-sm);
  cursor: pointer;
  padding: 0.2rem 0.7rem;
  font-size: smaller;
}
.editBtn:hover {
  background-color: var(--highlight2);
  color: white;
}

.addBtn {
  background-color: var(--highlight2);
  color: white;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: var(--text-sm);
  cursor: pointer;
  padding: 0.2rem 0.7rem;
  font-size: smaller;
}
.addBtn:hover {
  background-color: white;
  color: var(--highlight2);
}

/* Custom Toast Styling */
.custom-toast {
  position: relative;
  overflow: hidden;

  border-radius: 0.75rem;
  z-index: 1;
  overflow: visible !important;

  &:is(:hover, [data-expanded-true])::after {
    visibility: hidden !important;
  }
}

.custom-toast::after {
  content: "";
  position: absolute;
  border-radius: 0.75rem;
  bottom: 0 !important;
  left: 0;
  height: 4px !important;
  width: 0;
  background-color: #4caf50;
  animation: progressBar 3s linear forwards;
  animation-play-state: running;
  z-index: 0;
  transition: visibility 0s;
}

/* Use the :hover state to pause animation */
.custom-toast:hover::after {
  animation-play-state: paused;
}

.custom-toast[data-type="error"]::after {
  background-color: #d32f2f;
}

.custom-toast:not([data-type])::after {
  background-color: var(--highlight2); /* Neutral grey */
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
